html {
    color: #555;
    font-size: 1em;
    line-height: 1.4;
    font-family:'Open Sans', Verdana, sans-serif;
}
  
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #0f0f0f;
}

.content {
    width: 95vw;
    height: 80vh;
    background: url(../img/background.webp);
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0f0f0f;
    background-size: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    font-weight: 100;
    padding: .25rem .5rem;
    user-select: none;
}
